body{
  margin: 0;
}

.app-wrapper{
  min-height: 100vh;
  *{
    //border: 1px solid black;
    margin: 0;
  }
  header{
    background-color: aliceblue;
  }
  .main {
    overflow: auto;


    aside {
      float: left;
      background-color: azure;
      width: 10em;
      bottom: 0;
      min-height: calc(100vh - 60px);
    }

    .chat {
      background-color: burlywood;
      //position: relative;
      left: 10em;
      //right: 0;
      //width: calc(100% - 10em);
      //top: 0;
      //bottom: 0;

      .history{
        //min-height: calc(100vh - 75px);
        background-color: darkgray;
        top: 35px;
        bottom: 0;
        left: 10em;
        right: 0;
        position: absolute;
      }
      .input{
        background-color: dodgerblue;
        left: 10em;
        position: absolute;
        bottom: 20px;
        right: 0;
      }
    }
    //&:after{
    //  clear: both;
    //  content: "";
    //  display: block;
    //}
  }
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkkhaki;
  }
}